body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

main {
    display: flex;
}

header, footer {
    background-color: #824555;
    text-align: center;
    padding: 20px;
}

#lewy, #center {
    width: 30%;
    height: 350px;
}

#lewy {
    background-color: #A26475;
}

#center {
    background-color: #824555;
}

#prawy {
    background-color: #A26470;
    width: 40%;
    height: 350px;
    overflow: auto;
}

img {
    float: left;
    width: 50px;
}

table, tr, th, td, p, dl, dt, dd {
    margin: 10px;
}

dt {
    padding-top: 20px;
}

th, td {
    border: 3px solid  #824555;
    padding: 5px;
}